<nav>
<ul>
  <li>  <a href="/thanks">see your signature</a></li>
  <li>  <a href="/signers">list of signers</a></li>
  <li><a href="/edit">edit profile</a></li>
  <li> <a href="/logout">logout</a></li>
    <ul>
</nav>
