<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <meta charset="utf-8">
        <title>legalize medical catnip!</title>

    </head>
    <body>
{{{body}}}
    </body>
</html>
