<h1>free painting lessons for everyone!</h1>
<h2>log in </h2>
<div class="inputbox">
  <form method="POST" id="petitionbox">
    <input type="text" class="inputfield" name="email" placeholder="enter email address">
    <input type="password" class="inputfield" name="password" placeholder="enter password">
    <input type="hidden" class="inputfield" name="_csrf" value="{{csrfToken}}">
    <button type="submit" class="button">LOG IN</button>
  </form>
  <a href="/register">or register</a>
</div>
{{#if error}}
  <div id="errorbox">
    <p>WRONG EMAIL OR PASSWORD</p>
  </div>
{{/if}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js" charset="utf-8"></script>

</html>
