<h1>let's legalize medical catnip!</h1>
<h2>log in </h2>
<form method="POST" id ="petitionbox">
  <input type="text" name="email" placeholder="enter email address">
    <input type="password" name="password" placeholder="enter password">
 <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button type="submit" class="button">LOG IN</button>
</form>
<a href="/register">or register</a>
{{#if error}}
  <div id="errorbox"><p>WRONG EMAIL  OR PASSWORD</p></div>
{{/if}}
</html>
