<h1>let's legalize medical catnip!</h1>
<h2>register</h2>
<div id ="petitionbox">
<form method="POST">
  <input type="text" name="firstname" placeholder="enter your first name">
  <input type="text" name="lastname" placeholder="enter your last name">
  <input type="text" name="email" placeholder="enter email address">
    <input type="password" name="password" placeholder="enter password">
 <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button type="submit" class="button">REGISTER</button>
</form>
<a href="/login">OR LOGIN TO EXISTING ACCOUNT</a>
</div>
{{#if error}}
  <div id="errorbox"><p>CORRECT YOUR DATA.</p></div>
{{/if}}
</html>
