<div class="overlay">
  <img src="background1.jpg" alt="">
</div>
<h1>free painting lessons for everyone!</h1>
<h2>please register</h2>
{{#if error}}
<h2 id="error">WRONG EMAIL OR PASSWORD</h2>
{{/if}}
<div class="inputbox">
<form method="POST">
  <input type="text" class="inputfield" name="firstname" placeholder="enter your first name">
  <input type="text" class="inputfield" name="lastname" placeholder="enter your last name">
  <input type="text" class="inputfield" name="email" placeholder="enter email address">
  <input type="password" class="inputfield" name="password" placeholder="enter password">
  <input type="hidden" class="inputfield" name="_csrf" value="{{csrfToken}}">
  <button type="submit" class="button">REGISTER
  </button>
</form>
<a href="/login">OR LOGIN TO EXISTING ACCOUNT</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js" charset="utf-8"></script>
</html>
