<h1 id="title">free painting lessons for everyone!</h1></h1>
<h2>please register</h2>
<div id="introbox">

</div>
<div id ="registerbox">
<form method="POST">
  <input type="text" name="firstname" placeholder="enter your first name">
  <input type="text" name="lastname" placeholder="enter your last name">
  <input type="text" name="email" placeholder="enter email address">
  <input type="password" name="password" placeholder="enter password">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button type="submit" class="button">REGISTER
  </button>
</form>
<a href="/login">OR LOGIN TO EXISTING ACCOUNT</a>
</div>
{{#if error}}
  <div id="errorbox"><p>PLEASE CORRECT YOUR DATA</p></div>
{{/if}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js" charset="utf-8"></script>
</html>
