<h1>MY FIRST PETITION </h1>
<form method="POST">
  <input type="text" name="firstname" placeholder="enter your first name">
  <input type="text" name="lastname" placeholder="enter your last name">
  <input id="hiddenbox" type="hidden" name="signaturedata">
<canvas id="signaturebox" width="300" height="300"></canvas>
  <button type="submit" id="button">SIGN THE PETITION</button>
</form>
</html>
