<h1>the good cause</h1>
<h2>sign in </h2>
<div id ="petitionbox">
<form method="POST">
  <input type="text" name="firstname" placeholder="enter your first name">
  <input type="text" name="lastname" placeholder="enter your last name">
  <input type="text" name="email" placeholder="enter email address">
    <input type="password" name="password" placeholder="enter password">
 <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button type="submit" id="button">SIGN IN</button>
</form>
<a href="/login">OR LOGIN TO EXISTING ACCOUNT</a>
</div>
{{#if error}}
  <div id="errorbox"><p>///ERROR/// NOT ENOUGH DATA ///ERROR///</p></div>
{{/if}}
</html>
