<div id="thanksbox"><h1> THANKS FOR SIGNING! </h1></div>
<div id="#signatureshowbox"><img src={{signature}} height="300" width="300"></div>
<a href="/signers">see all the signers</a>
<a href="/edit">edit your profile</a>
