<div id="thanksbox"><h1 id="thanks"> THANKS FOR SIGNING! </h1></div>
<div id="#signatureshowbox"><img src={{signature}}></div>
<ul>
<li>  <a href="/signers">see all the signers</a></li>
<li><a href="/edit">edit your profile</a></li>
<li><a href="/logout">logout</a></li>
<ul>
  <form method="POST" id ="petitionbox">
   <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" id="button">DELETE SIGNATURE</button>
  </form>
