<h1 id="thanks"> THANKS FOR SIGNING! </h1>
<img src={{signature}}>
<ul>
<li>  <a href="/signers">see all the signers</a></li>
<li><a href="/edit">edit your profile</a></li>
<li><a href="/logout">logout</a></li>
</ul>
  <form method="POST" action="/signaturedelete">
   <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" id="deletebutton">DELETE SIGNATURE</button>
  </form>
