<h1 id="thanks"> THANKS FOR SIGNING! </h1>
<img src={{signature}}>
<ul>
 <a href="/signers">see all the signers</a></br><a href="/edit">edit your profile</a></br>
<a href="/logout">logout</a></br>
</ul>
  <form method="POST" action="/signaturedelete">
   <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" id="deletebutton">DELETE SIGNATURE</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="script.js" charset="utf-8"></script>
  </html>
