* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

body {
  background: white;
}

p {
  font-weight: bold;
  font-size: 40px;
}

h1 {
  font-size: 120px;
  text-decoration: underline;
}

h2 {
  font-size: 60px;
}

a {
  font-size: 60px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#error {
  color: red;
  background-color: black;
}

/* background image changing picture for each page */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.9;
  z-index: -10;
}

/* container for every page except edit */
.inputbox {
  position: absolute;
  left: 50%;
  margin-top: 3vh;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* input for every page except edit */
.inputfield {
  transition: 1s;
  border: 0;
  width: 55vw;
  height: 6vh;
  text-align: center;
  background-color: #5f9ea0;
  color: white;
  font-weight: bold;
  margin: 13px;
  font-size: 40px;
  display: block;
  opacity: 0.9;
}

/* edit page styling */
#editbox {
  margin-top: 1vh;
}

#editbox input {
  border: 0;
  height: 5vh;
  width: 35vw;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #5f9ea0;
}

#editbox .button {
  width: 35vw;
  font-size: 35px;
}

#editbox p {
  font-size: 35px;
}

#editbox a {
  font-size: 45px;
}

/* end of edit page styling */
::placeholder {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

/* class applied by script after mousedown */
.selected {
  transition: 2s;
  height: 10vh;
  background-color: white;
  color: black;
  border: 1px black solid;
}

.selected::-webkit-input-placeholder {
  color: black;
}

.button {
  width: 55vw;
  background: #5f9ea0;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}

.button:hover {
  transition: 1s;
  background: white;
}

/* container to PUT signature */
#signaturebox {
  background-color: #5f9ea0;
  border: 2px white dashed;
  margin: 10vh;
}

/* container to SHOW signature */
#signatureshowbox {
  width: 70vw;
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#logoutbox {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* styling for the list of signers */
ul {
  list-style-type: none;
}

hr {
  height: 5px;
  background-color: white;
}

/* MEDIA QUERY */
@media screen and (max-width: 1010px) {
  h1 {
    font-size: 45px;
  }

  a {
    font-size: 35px;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 35px;
  }

  #editbox p {
    font-size: 30px;
  }

  ::placeholder {
    font-size: 27px;
  }

  .button {
    font-size: 27px;
  }

  #signerslist h1 {
    font-size: 30px;
  }

  #signerslist p {
    font-size: 30px;
  }

  #signerslist a {
    font-size: 30px;
  }
}