* {
  margin: 0;
  box-sizing: border-box;
  /* background-color: #8fad88; */
  font-family: "Amatic SC", cursive;
  text-align: center;
}
body {
  background-color: #8fad88;
}
#petitionbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signaturebox {
  background-color: #ad8d88;
  border: 2px white dashed;
  margin: 10px;
}
#signatureshowbox {
  width: 600px;
}
input {
  transition: 1s;
  border: 0;
  width: 600px;
  height: 120px;
  text-align: center;
  background-color: #ad8d88;
  color: white;
  font-weight: bold;
  margin: 10px;
  font-size: 40px;
  display: block;
  opacity: 0.9;
}
/* input:focus {
  background-color: Khaki;
} */
::placeholder {
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.selected::-webkit-input-placeholder {
  color: black;
}
h1 {
  font-size: 100px;
  text-decoration: underline;
}
h2 {
  font-size: 40px;
}
#thanks {
  font-size: 200px;
}
.button {
  border: 0.5px solid white;
  background: #ad88a1;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}
.button:hover {
  transition: 1s;
  background: Khaki;
  font-size: 50px;
}
a:hover {
  transition: 1s;
  color: Khaki;
  font-size: 60px;
}
#signaturebox:hover {
  transition: 1s;
  background-color: khaki;
}
#deletebutton {
  border: 0.5px solid white;
  background: #ad88a1;
  border-radius: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
  margin-left: 50px;
}
#deletebutton:hover {
  transition: 1s;
  background: Khaki;
}
#errorbox {
  width: 100%;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  font-size: 40px;
  text-decoration: none;
  color: #551a8b;
}
hr {
  border-color: black;
}
h3 {
  font-size: 25px;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  margin-top: 20px;
}
p {
  font-weight: bold;
  font-size: 40px;
}
.editbox {
  height: 60px;
  font-size: 30px;
}
.selected {
  transition: 2s;
  height: 140px;
  background-color: Khaki;
  color: black;
  border: 1px black solid;
}
